.btn {
	margin: 5px 10px 5px 0px;
}
.msfdate {
	float: right;
	font-style: italic;
	font-weight: bold;
	color: black;
}
.msfdate-love {
	float: right;
	font-style: italic;
	font-weight: bold;
	color: green;
}
.msfdate-dontlove {
	float: right;
	font-style: italic;
  font-weight: bold;
	color: red;
}
